@import '../../styles/vars';

.inner {
  display: inline-block;
  padding: 9px 24px;

  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0px;

  color: inherit;
  border: none;
  border-radius: 5px;
  outline: none;

  transition: $animation;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
    padding: 9px 32px;
    border-radius: 10px;
  }
}
.button {
  background-color: $btnColor;

  &:hover,
  &:focus {
    background-color: $hoverBtnColor;
    color: $secondaryTextColor;
    // box-shadow: $boxShadow;
  }
}
