@import '../../styles/vars';
@import '../../styles/mixins';

.hero {
  background-image: url(../../assets/images/hero/hero@1x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../../assets/images/hero/hero@2x.jpg');
  }
}

.wrapper {
  position: relative;
}

.title {
  position: absolute;
  top: 131px;
  left: 22px;

  width: 88%;

  font-size: 50px;
  font-weight: 800;

  @media screen and (min-width: $tablet2) {
    top: 198px;
    width: 68%;
    font-size: 60px;
  }

  @media screen and (min-width: $tablet) {
    top: 222px;
    width: 73%;
    font-size: 85px;
  }
}

.img {
  padding-top: 110px;
  padding-bottom: 210px;

  @media screen and (min-width: $tablet2) {
    width: 530px;
    padding-top: 180px;
    padding-bottom: 350px;
  }
  @media screen and (min-width: $tablet) {
    width: 730px;
    padding-top: 190px;
    padding-bottom: 420px;
  }
}

.span {
  color: $hoverBtnColor;
}
