@import '../../styles/vars';

.container {
  min-width: $to-mobile;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet2) {
    width: $tablet2;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding: 0 30px;
  }
}
