/* Inter */
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('../assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-bold';
  font-weight: 700;
  src: url('../assets/fonts/Inter/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-extraBold';
  font-weight: 800;
  src: url('../assets/fonts/Inter/Inter-ExtraBold.ttf') format('truetype');
}
