// text
$mainTextColor: #2a2a2a;
$accentTextColor: #008bf6;

// background
$mainBgnColor: #ffffff;
$secondaryBgnColor: #f5f5f5;
$btnColor: #00b3fa;
$hoverBtnColor: #0098f7;
$secondaryBtnColor: #f6e224;
$hoverSecondaryBtnColor: #ee9c10;

// shadow
$boxShadow: 0px 3px 6px #00000029;

// animation
$animation: all 0.3s ease-out;

// breakpoints
$mobile: 480px;
$tablet: 1024px;
$tablet2: 768px;
$desktop: 1366px;
$to-mobile: 320px;
$to-tablet: 1023px;
$to-tablet2: 767px;
