// text
$mainTextColor: #2a2a2a;
$secondaryTextColor: #ffffff;
$accentTextColor: #e24e08;

// background
$mainBgnColor: #ffffff;
$secondaryBgnColor: #fee5cd;
$btnColor: #ffb169;
$hoverBtnColor: #e24e08;
$secondaryBtnColor: #f6e224;
$hoverSecondaryBtnColor: #ee9c10;

// shadow
$boxShadow: 0px 3px 6px #00000029;

// animation
$animation: all 0.3s ease-out;

// breakpoints
$mobile: 480px;
$tablet: 1024px;
$tablet2: 768px;
$desktop: 1366px;
$to-mobile: 320px;
$to-tablet: 1023px;
$to-tablet2: 767px;
