@import '../../styles/vars';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  @media screen and (max-width: $to-tablet2) {
    justify-content: space-between;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 350px) {
    flex-direction: row;
  }
}

.padding {
  padding-top: 20px;
}
